.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  cursor: pointer;
}

.result-item {
  font-size: 1.4rem;
  width: 300px;
  height: 450px;
  text-align: center;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  gap: 5px;
  padding: 10px;
}

.result-item:hover {
  position: relative;
  transform: translateY(-15px);
}

.result-item.checked {
  transform: translateY(-15px);
}

.result-item-light {
  box-shadow: 0 0 82px -40px rgba(39, 43, 51, 0.91) inset;
}

.result-item-dark {
  box-shadow: 0 0 82px -40px rgba(222, 224, 228, 0.91) inset;
}

.result-item button {
  margin-top: 10px;
  align-self: flex-start;
  padding: 7px;
}

.image {
  border-radius: 10px;
  width: auto;
  height: auto;
  object-fit: contain;
}