.light-theme {
  --background-color: var(--light);
  --text-color: var(--dark);
}

.dark-theme {
  --background-color: var(--dark);
  --text-color: var(--light);
}

.app-container {
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.title {
  text-align: center;
  font-size: 6rem;
}

.main {
  margin-top: 50px;
}