.btn {
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 250ms;
  outline: none;
  cursor: pointer;
}

.btn-light-theme {
  color: var(--light);
  background-color: var(--dark);
}

.btn-dark-theme {
  color: var(--dark);
  background-color: var(--light);
}

.btn:hover {
  background-color: #78b159;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  transform: translateY(-1px);
  color: var(--light);
}
.btn.red:hover {
  background-color: red;
}