.modal {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
}

.modal-theme-light {
  background-color: var(--dark);
  color: var(--light);
}

.modal-theme-dark {
  background-color: var(--light);
  color: var(--dark);
}

.modal-content {
  font-size: 2.4rem;
}

.modal-btn {
  margin-top: 25px;
  display: flex;
  gap: 10px;
}

.modal-btn-light {
  background-color: var(--light);
  color: var(--dark);
}

.modal-btn-dark {
  background-color: var(--dark);
  color: var(--light);
}
