.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.result-item {
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.result-item:hover {
  transform: scale(1.05);
}
